.app__secondary {
  font-size: var(--font-size-secondary);
  font-weight: var(--font-weight-secondary);
  color: var(--color-secondary);
  background: var(--bg-secondary);
}

.app__grid {
  display: grid;
  > * {
    display: grid;
    aspect-ratio: 1 / 1;
    > * {
      grid-area: 1 / 1;
    }
  }
}
