@layer utilities {
  .app__make-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
  }

  .app__make-secondary {
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--secondary-color);
    background: var(--secondary-bg);
  }

  .app__create-grid--for-main-grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-items-per-axis), auto);
    grid-template-columns: repeat(var(--grid-items-per-axis), minmax(0, 1fr));
    gap: var(--grid-gap);

    > * {
      display: grid;
      aspect-ratio: 1 / 1;
      > * { grid-area: 1 / 1; }
    }
  }

  .app__create-grid--for-footer-toolbar {
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: calc(var(--grid-gap) * 2);

    > * {
      display: grid;
      aspect-ratio: 1 / 1;
      > * { grid-area: 1 / 1; }
    }
  }
}
